<!-- <div class="header">
  <div class="nav">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="">
       
    </div>
    <div #c0 class="navList">
     <div class="navItem" [class]="{active:isActive=='index'}" (click)="TheAtive('index')"[routerLink]="['/']" >Main</div>
     <div class="navItem" [class]="{active:isActive=='choose'}"  (click)="TheAtive('choose')" [routerLink]="['/scanner']">Good choice</div>
     <div class="navItem" [class]="{active:isActive=='newstock'}" (click)="TheAtive('newstock')" [routerLink]="['/newstock']">New Stock</div>
     <div class="navItem" [class]="{active:isActive=='testphp'}" (click)="TheAtive('testphp')" [routerLink]="['/testphp']">Test php</div>
    </div>
    <div class="search">
      <input placeholder="Search" type="text">
      <span>Search</span>
    </div>
  
  </div>
</div>
<div>
  <button (click)="ChangeMyname()">
    change
  </button>
</div>

<div>
  <p >{{father}}</p>
</div>
<button (click)="print()">
  Get C1AndC2
</button> -->
<app-newone></app-newone>

<app-yizhou #c1 [child2]="userName" [child1]="userGG"  (event)="takeEvent($event)">

</app-yizhou>




<router-outlet></router-outlet>